<main>
	<div class="grid-container">
		<div class="grid-item-main">
			<div class="everyone">
				<p>○○○さんの予定</p>
			</div>
			<div class="events-wrapper">
				<%= render 'events/event_detail_show' %>
				<%= render 'events/event_detail_show' %>
				<%= render 'events/event_detail_show' %>
				<%= render 'events/event_detail_show' %>
				<%= render 'events/event_detail_show' %>
			</div>
		</div>
		<div class="grid-item-user-image">
				<img class="user-image" src="/images/sample-user-image.jpg" alt="">
			<div class="user-introduction">
				テキストテキストテキストテキスト
				テキストテキストテキストテキスト
				テキストテキストテキストテキスト
				テキストテキストテキストテキスト
				テキストテキストテキストテキスト
				テキストテキストテキストテキスト
				テキストテキストテキストテキスト
			</div>
		</div>
	</div>
</main>