<main>
	<div class="everyone"><p>みんなの予定</p></div>
	<div class="text-centering">
		<div class="button search-area-style box-shadow"><p>お気に入りエリアで絞り込み</p></div>
	</div>
	<div class="events-wrapper">
		<%= render 'event_detail_index' %>
		<%= render 'event_detail_index' %>
		<%= render 'event_detail_index' %>
		<%= render 'event_detail_index' %>
		<%= render 'event_detail_index' %>
	</div>
</main>